@using Kadabra.Model.Tournament;
@model TournamentCollectionModel

@{
    ViewBag.TitleOption = "Torneos";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Styles
{
    @Styles.Render("~/Bundles/datatable/css")
}
<div class="table-responsive-sm col-sm-10">
    <table id="MainTable" class="table table-sm table-hover text-center">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Fecha Inicio</th>
                <th>Fecha Final</th>
                <th>País</th>
                <th>Total de partidos</th>
                <th>Total de equipos</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (TournamentDisplayModel item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    <div class="btn-group-sm">
                        <form>
                            @Html.Hidden("Id", item.Id)
                            <button class="btn-sm btn-outline-secondary" type="submit" formaction="/Kadabra.UI/Tournament/Edit" formmethod="post">
                                <i class="fa fa-fw fa-edit"></i>Editar
                            </button>
                            <button class="btn-sm btn-outline-danger" type="submit" formaction="/Kadabra.UI/Tournament/Delete" formmethod="post">
                                <i class="fa fa-fw fa-remove"></i>Eliminar
                            </button>
                        </form>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatchesTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamTotal)
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
            </tr>
        </tfoot>
    </table>

</div>
<button type="submit" class="btn-sm btn-outline-primary clearfix" data-content="" onclick="location.href='@Url.Action("Add", "Tournament")'">
    <i class="fa fa-fw fa-plus"></i>Agregar
</button>
@section Scripts
{
    @Scripts.Render("~/Bundles/datatable/js")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MainTable').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "No se ha encontrado nada",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros",
                    "infoFiltered": "(Filtrado de _MAX_ total de registros)",
                    "paginate": {
                        "previous": "Atrás",
                        "next": "Siguiente"
                    }
                }
            });
        });
    </script>
}
