@model Kadabra.Model.Team.TeamCollectionModel

@{
    ViewBag.TitleOption = "Equipos";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<div class="table-responsive">
        <table class="table-sm table-striped table-hover text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Acrónimo</th>
                    <th>País</th>
                    <th>Dirección de la Imagen</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Kadabra.Model.Team.TeamModel item in Model)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(modelItem => item.Id)
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TeamKey)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImageFlag)
                        </td>
                        <td>
                            <div class="btn-group-sm">
                                <form>
                                    @Html.Hidden("Id", item.Id)
                                    <button class="btn-sm btn-outline-secondary" type="submit" formaction="/Kadabra.UI/Team/Edit" formmethod="post">Editar</button>
                                    <button class="btn-sm btn-outline-danger" type="submit" formaction="/Kadabra.UI/Team/DeleteTeam" formmethod="delete">Eliminar</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <br />
                        <!--button-- class="btn-sm btn-outline-secondary" type="submit" form="FormEdit">Editar</!--button-->
                        <input type="submit" class="btn-sm btn-outline-primary " value="Agregar" />
                    </td>
                </tr>
            </tfoot>
        </table>
    
</div>

