@model Kadabra.Model.Team.TeamCollectionModel

@{
    ViewBag.TitleOption = "Equipos";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@using (Html.BeginForm("AddTeam", "Team"))
{
    <input type="submit" class="btn btn-primary" value="Agregar"/>
    <p></p>
}

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="thead-dark text-center" >
            <tr>
                <th>Nombre</th>
                <th>Acrónimo</th>
                <th>País</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (Kadabra.Model.Team.TeamModel item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageFlag)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
                @*<td>
                    @Html.HiddenFor(modelItem => item.Id)
                </td>*@
            </tr>
            }
        </tbody>
    </table>
</div>

